@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
  background-image: url('books.jpg');
  background-color: #654321;
  background-size: cover;
  background-position: center;
}

h1, h2, h3 {
  font-family: 'Arvo', Arial, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

.generate {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.3rem;
  margin: 0 auto;
}
p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.2em;
}

.container {
  height: 80%; 
  width: 70%;
  margin: 5em auto;
  padding: 1em;
  background: white;
  text-align: center;
}

.credit, .credit a, nav, nav a {
  margin: auto;
  position: relative;
  color: black;
  font-size:1em;
  max-width: 60%;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
}


@media only screen and (min-width:700px) {
  .container {
    width: 500px;
    margin: 5em auto;
  }
}